.Statistique{
    margin-top: 60px;
    margin-bottom: 30px;
}
.card-profil:hover {
    color: white;
}
.nom-card-profil{
    height: 80px;
}

.fonction-card-profil{
    height: 80px;
}

.developpeur {
    margin: 0px 100px;
    padding-left:  200px;
}
.nom{
    height: 60px;
}

@media screen and (max-width: 750px) {
    .developpeur{
        margin: 0px 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .card-top{
        width: 100%;
    }
    .card-member{
        width: 100%;
        margin-top: 100px;
    }
    .fonction-card-profil{
    height: 100px;
}
}

@media screen and (min-width: 751px) and (max-width: 1023px) {
    .card-member{
        width: 40%;
        margin: 50px 30px;
    }
    .fonction-card-profil{
    height: 100px;
}
}
