.Statistique{
    margin-top: 60px;
    margin-bottom: 30px;
}
.card-profil:hover {
    color: white;
}
.nom-card-profil{
    height: 80px;
}

.fonction-card-profil{
    height: 80px;
}

.developpeur {
    margin: 0px 100px;
    padding-left:  200px;
}
.nom{
    height: 60px;
}

@media screen and (max-width: 640px) {
    .developpeur{
        margin: 0px 0px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .card-top{
        width: 100%;
    }
}
